/* Index Stylesheet */
body {
	background-color: #c8edf8;
}

#body {
	width: 40vw;
	min-width: 25em;
	margin-left: 30vw;
	margin-right: 30vw;
}

.module {
	background-color: #ffffff;
	margin-top: 2em;
	border-radius: 2em;
}

/* Title */
#title {
	text-align: center;
}

#title > h2 {
	width: 100%;
	text-align: center;
	padding-top: 1em;
}

#link {
	display: inline-block;
	padding-bottom: 1em;
	text-align: left;
}

#link > a {
	color: #0088ff;
}

#link > a > img {
	width: 1.5em;
	vertical-align: -0.3em;
}

/* Update */
#update {
	text-align: center;
	padding-top: 1em;
}

#update > textarea {
	margin-top: 0.5em;
	resize: vertical;
}

#control {
	margin-top: 1em;
}

#input-setting ul {
	list-style-type: none;
	text-align: left;
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}

#output-setting ul {
	list-style-type: none;
	text-align: left;
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}


/* Download */
#download {
	text-align: center;
	padding-top: 1em;
	margin-bottom: 100px;
}

.btn {
	display: inline-block;
	width: calc(5em - 2px);
	height: calc(2em - 2px);
	text-align: center;
	line-height: calc(2em - 2px);
	color: #2b2b3b;
	border: 1px #2b2b3b solid;
	border-radius: 0.5em;
	background-color: #f0f0f0;
}

.btn:hover {
	background-color: #e0e0e0;
}

.btn:active {
	background-color: #ffffff;
}

#download-display {
	margin-top: 0.5em;
	resize: vertical;
}